.container {
  background-color: #000842;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 15px;
  /* justify-content: space-around; */
  height: 95%;
}

.conact {
  position: absolute;
  right: 2.5%;
  top: 4%;
}

.conactclass {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 60%;
  height: 70%;
}

.content {
  padding-left: 6rem;
}
